.cardQuiz{
    width: 464px;
    height: auto;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    margin-top: 10px;
    padding: 68px 32px;
    &--lg{
        @extend .cardQuiz;
        padding: 68px 32px 32px 32px;
    }
    &_wrapper{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
    }
    &_buttonNext{
        width: 116px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 12px;
        background: #F9A826;
        box-shadow: 0px 2px 4px 0px rgba(252, 168, 47, 0.40);
        color: #FFF;
        font-family: $font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: unset;
    }
}
