.cardQuiz{
    width: 464px;
    height: 515px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #FFF;
    margin-top: 10px;
    padding: 68px 32px;
}
.optionButton{
    width: 400px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 2px solid rgba(96, 102, 208, 0.70);
    background: #FFF;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: rgba(96, 102, 208, 0.80);
    cursor: pointer;
    &--error{
        @extend .optionButton;
        background: $red;
    }
    &--success{
        @extend .optionButton;
        background-color: $green;
    }
    &_title{
        @extend .letter;
        font-size: 18px;
        margin-left: 46px;
       
    }
    &:hover{
        background-color: $yellow;
        border: 2px solid $yellow;
        color:white
    }
    
}

